* {
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

@media(min-width:760px) {
    /*顶端*/
    .header {
        width: 100%;
        height: 40px;
        background-color: #282828;
    }
    .container1 {
        height: 40px;
    }
    .tell {
        position: absolute;
        margin-left: 10px;
        margin-top: 7px;
    }
    .tell-num {
        color: #e1e1e1;
        position: absolute;
        line-height: 40px;
    }
    /*logo部分*/
    .logo-box {
        width: 100%;
        height: 80px;
        background-color: #e1e1e1;
    }
    .logo-container {
        width: 1200px;
        height: 80px;
        margin: 0 auto;
        background-color: #e1e1e1;
    }
    .logo-pic {
        float: left;
        margin-left: 115px;
        margin-top: 10px;
    }
    .kuai {
        width: 170px;
        height: 55px;
        background-color: #e8420a;
        font-size: 30px;
        color: #fff;
        text-align: 170px;
        line-height: 55px;
        border-radius: 5px;
    }
    .button-kuai {
        display: none;
    }
    .all {
        display: none;
    }
    .search-input {
        font-size: 10px;
        background-image: url(img/position.png);
        background-repeat: no-repeat;
        position: 8px 15px;
        border-radius: 3px;
        padding: 8px 10px 8px 60px;
        width: 385px;
        height: 30px;
    }
    .airport {
        width: 100%;
        height: 395px;
        background-color: #dddddd;
    }
    .airport1 {
        height: 365px;
        padding-top: 30px;
        margin: 0;
    }
    .airport-word {
        color: #fff;
        position: absolute;
        top: 10%;
        left: 60%;
    }
    .airport-right {
        height: 365px;
        background-color: #14316d;
        position: relative;
    }
    .airport-right img {
        position: absolute;
        top: 25%;
        left: 30%;
    }
    .airport-right span {
        color: #fff;
        position: absolute;
        top: 60%;
        left: 32%;
        font-size: 20px;
    }
    .airport-right button {
        width: 150px;
        height: 40px;
        background-color: #14316d;
        border-radius: 4px;
        border: 1px solid #fff;
        position: absolute;
        top: 80%;
        left: 20%;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        color: #fff;
    }
    .small-air {
        display: none;
    }
    .remen {
        width: 100%;
        height: 130px;
        background-color: #e1e1e1;
    }
    .remen-box {
        display: none;
    }
    .middle {
        display: none;
    }
    .pictures {
        width: 100%;
        height: 1050px;
        background-color: #e1e1e1;
    }
    .small-pics {
        display: none;
    }
    .qian {
        width: 100%;
        height: 210px;
        background-color: #e1e1e1;
    }
    .small-qian {
        display: none;
    }
    .pictures-two {
        width: 100%;
        height: 500px;
        background-color: #e1e1e1;
    }
    .small-pictures-two {
        display: none;
    }
    .seen1 {
        width: 100%;
        height: 150px;
        background-color: #e1e1e1;
    }
    .small-seen1 {
        display: none;
    }
    .pictures-three {
        width: 100%;
        height: 350px;
        background-color: #e1e1e1;
    }
    .small-pictures-three {
        display: none;
    }
    .mission {
        width: 100%;
        height: 1500px;
    }
    .small-mission {
        display: none;
    }
    .bottom {
        width: 100%;
        height: 500px;
        background-color: #000;
    }
    .small-bottom {
        display: none;
    }
}

@media(max-width:759px) {
    .header {
        display: none;
    }
    .button-kuai {
        width: 130px;
        background-color: #e8420a;
        border-radius: 4px;
        line-height: 50px;
        position: absolute;
        right: 90px;
        top: 15px;
        font-size: 20px;
        color: #fff;
        text-align: center;
    }
    .Paris {
        display: none;
        position: absolute;
        top: 20%;
        left: 12%;
    }
    .airport1 {
        display: none;
    }
    .small-air {
        width: 100%;
        height: 340px;
        position: relative;
        margin-top: 25px;
    }
    .car-box {
        position: absolute;
        top: 40%;
        left: 10%;
    }
    .car-box img {
        position: absolute;
        left: -10%;
    }
    .car-box button {
        width: 120px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #b5b5b5;
        background-color: #fff;
        position: absolute;
        top: 80%;
        left: 70%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #b5b5b5;
    }
    .p-box {
        position: absolute;
        top: 20%;
        left: 20%;
    }
    .remen {
        display: none;
    }
    .middle {
        width: 100%;
        height: 20px;
        background-color: #e1e1e1;
        position: absolute;
    }
    .pictures {
        display: none;
    }
    .small-pics {
        width: 100%;
        height: 1050px;
        background-color: #fff;
    }
    .qian {
        display: none;
    }
    .pictures-two {
        display: none;
    }
    .small-pictures-two {
        width: 100%;
        height: 400px;
        background-color: #fff;
    }
    .seen1 {
        display: none;
    }
    .small-seen1 {
        width: 100%;
        height: 150px;
        background-color: #fff;
    }
    .pictures-three {
        display: none;
    }
    .small-pictures-three {
        width: 100%;
        height: 20px;
        background-color: #fff;
    }
    .mission {
        display: none;
    }
    .small-mission {
        width: 100%;
        height: 1800px;
    }
    .bottom {
        display: none;
    }
    .small-bottom {
        width: 100%;
        height: 300px;
        background-color: #343235;
    }
}

.search {
    width: 350px;
    height: 50px;
    position: absolute;
    left: 35%;
    bottom: 20%;
    text-align: center;
}

.search button {
    height: 50px;
    float: left;
}

.search input {
    width: 205px;
    height: 50px;
    float: left;
}

.seen {
    width: 225px;
    height: 55px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 50px;
    line-height: 55px;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    background-color: #fff;
}

.pic1 {
    height: 500px;
    background-image: url(img/visa1.jpg);
    background-size: cover;
    position: relative;
}

.pic1 div {
    width: 100%;
    height: 80px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 84%;
}

.pic1 div p {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 84px;
}

.pic2 {
    background-image: url(img/visa2.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
    margin-left: 5px;
}

.pic2 div {
    width: 100%;
    height: 40px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 84%;
}

.pic2 div p {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.pic4 {
    background-image: url(img/visa4.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
    margin: 5px 5px;
}

.pic4 div {
    width: 100%;
    height: 40px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 84%;
}

.pic4 div p {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.pic3 {
    background-image: url(img/visa3.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
    margin-left: 5px;
}

.pic3 div {
    width: 100%;
    height: 40px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 84%;
}

.pic3 div p {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.pic5 {
    background-image: url(img/visa5.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
    margin: 5px 5px;
}

.pic5 div {
    width: 100%;
    height: 40px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 84%;
}

.pic5 div p {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.small-pic1 {
    background-image: url(img/visa1.jpg);
    background-size: cover;
    height: 400px;
    position: relative
}

.small-pic1 div {
    width: 100%;
    height: 66px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 84%
}

.small-pic1 div p {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 66px;
}

.small-pic5 {
    background-image: url(img/visa5.jpg);
    background-size: cover;
    height: 185px;
    position: relative;
    margin-left: 10px;
}

.small-pic5 div {
    width: 100%;
    height: 50px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 73%
}

.small-pic5 div p {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
}

.small-pic2 {
    background-image: url(img/visa2.jpg);
    background-size: cover;
    height: 185px;
    position: relative;
    margin: 25px 10px;
}

.small-pic2 div {
    width: 100%;
    height: 50px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 73%
}

.small-pic2 div p {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
}

.mission-img {
    background-image: url(img/back.png);
    height: 1500px;
    background-size: cover;
    background-color: #dddddd;
}

.mission-word {
    width: 675px;
    height: 350px;
    background-color: #1b4d7b;
    opacity: 0.8;
    color: white;
    float: left;
}

.mission-word p {
    text-align: center;
}

.mission-pic {
    width: 100%;
    height: 400px;
    background-color: #1c5080;
    color: white;
    margin-top: 10px;
}

.three {
    width: 50%;
    height: 45%;
    margin-left: 22%;
    margin-top: 20%
}

.three-word {
    text-align: center;
    margin-top: 35px;
}

.small-mission-img {
    background-image: url(img/back.png);
    height: 1800px;
    background-size: cover;
    background-color: #fff;
}

.bottom1 {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.bottom-box1 {
    width: 1200px;
    height: 155px;
    float: left;
}

.bottom-box1 img {
    float: left;
    margin-left: 13px;
    margin-top: 40px;
}

.bottom-box2 {
    width: 1200px;
    height: 75px;
    float: left;
}

.bottom-box3 {
    width: 1200px;
    height: 45px;
    float: left;
}

.bottom-box4 {
    width: 1200px;
    height: 94px;
    float: left;
}

.bottom-box5 {
    width: 1200px;
    height: 108px;
    float: left;
}